.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}

/* My Tools Section */
.tools-box {
  position: relative;
  background-color: rgb(136, 7, 7);
  border-radius: 10px;
  height: 500px;
  transform-style: preserve-3d;
}

.tools-box::before {
  content: "MY";
  position: absolute;
  color: #fff;
  font-size: 6em;
  font-weight: bold;
  font-style: italic;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}

.tools-box:hover::before {
  opacity: 0.2;
}

.tools-box::after {
  content: "Tools";
  position: absolute;
  color: #fff;
  font-size: 4.3em;
  font-weight: bold;
  font-style: italic;
  top: 350px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}

.tools-box:hover::after {
  opacity: 0.2;
}

.tools-name {
  position: absolute;
  top: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 2em;
  opacity: 0;
  transition: 0.5s;
  transform: translate3d(0, 0, 50px);
}

.tools-box:hover .tools-name {
  top: 20px;
  opacity: 1;
}

.tools-detail-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 100px);
  opacity: 0;
  transition: 0.5s;
}

.tools-box:hover .tools-detail-button {
  opacity: 1;
  bottom: 15px;
}

.tools-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 80px);
  max-width: 350px;
  transition: 0.5s;
}

.tools-box:hover .tools-img {
  transform: translate3d(-50%, -51%, 100px) rotate(2deg) scale(1.1);
}
